body{
	margin: 0;
	padding: 0; 
	overflow-x: hidden
}
.div_main{
	width: 375px;
	height: 2136px;
	margin: 0;
	padding: 0;
	left: 0;
	padding: 0;
}
.div_menu{
	width: 375px;
	height: 60px;
	top: 0;
	left: 0;
	border: solid 1px transparent;
	background: #FFFFFF; /* Цвет фона */
    box-shadow: 0 0 20px rgba(0,0,0,0.32); /* Параметры тени */
}
.logo{
	position: absolute;
	left: 284px;
	top: 21px;
	width: 55px;
	height: 17.59px;
}
.logo2{
	position:absolute;width:5.88px;height: 5.88px;left:344px;top:18.33px;
}
.logo3{
	position:absolute;width:5.88px;height: 5.88px;left:351px;top:18.32px;
}
.logo4{
	position:absolute;width:5.88px;height:5.88px;left:344px;top:25.33px;
}
.logo5{
	position:absolute;width:5.88px;height:5.88px;left:351px;top:25.33px;
}
.div37{
	position: absolute; width: 339px; left: 18px; top: 78px; height: 40px;
}
.div38{
	position: relative; display: flex; width: 100%;
}
.div39{
	border: solid 3px #F2F2F2; background: #F2F2F2; border-radius: 4px; width: 100%; border-right: none; padding: 5px; height: 40px; outline: none;
}


.div12{
	position: absolute; left: 18px; top: 200px; font-family: 'Maven Pro', sans-serif; font-weight: 500; font-size: 16px; line-height: 19px; letter-spacing: -0.03em; font-style: normal; font-weight: bold;
}
.div13{
	position: absolute; left: 95px; top: 200px; font-family: 'Maven Pro', sans-serif; font-style: normal;font-weight: 500; font-size: 16px; line-height: 19px; letter-spacing: -0.03em; font-weight: bold;
}
.div14{
	position: absolute; left: 168px; top: 200px; font-family: 'Maven Pro', sans-serif; font-style: normal;font-weight: 500; font-size: 16px; line-height: 19px; letter-spacing: -0.03em; font-weight: bold;
}

.line1{
	position: absolute;
	width: 44px;
	height: 3px;
	left: 18px;
	top: 24px;
	background: gray;
	border-radius: 2px;
}
.line2{
	position: absolute;
	background: gray;
	border-radius: 2px;
	width: 44px;
	height: 3px;
	left: 18px;
	top: 33px;
}
.fil{
	position: absolute;
	left: 18px; top: 134px;
}
.block1{
	width: 339px;
	height: 541px;
	position: absolute;
	left: 18px;
	top: 441px; 
	border-radius: 3px;
	background: #FFFFFF; /* Цвет фона */
    box-shadow: 0 0 15px rgba(0,0,0,0.22); /* Параметры тени */
}
.block2{
	width: 339px;
	height: 541px;
	position: absolute;
	left: 18px;
	top: 996px; 
	border-radius: 3px;
	background: #FFFFFF; /* Цвет фона */
    box-shadow: 0 0 15px rgba(0,0,0,0.22); /* Параметры тени */
}
.block3{
	width: 339px;
	height: 541px;
	position: absolute;
	left: 18px;
	top: 1551px; 
	border-radius: 3px;
	background: #FFFFFF; /* Цвет фона */
    box-shadow: 0 0 15px rgba(0,0,0,0.22); /* Параметры тени */
}
.width_img{
	width: 339px;
}
.div40{
	position: absolute; top: 220px; left: 10px; width: 385px;  margin: 0; padding: 0;
}
.div41{
	position: absolute;font-family: 'Maven Pro', sans-serif;font-style: normal;font-weight: bold;font-size: 22px;line-height: 26px; text-align: left;
}
.div42{
	position: absolute;font-family: 'Maven Pro', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 156.7%;top: 45px; text-align: justify-all;
}